$color-grey: #B0B0B0; 
$color-white: #ffffff;
$color-yellow: #FFED00;
$color-blue: #6EF6D0;
$color-purple: #EEC2E4;
$color-purple-dark: #7F80AC;
$color-pink-ligth: #FF97A6;

$color-primary: $color-grey;
$color-secundary: $color-purple;
$color-iconButton: $color-white;
$color-bground: $color-purple-dark;

$font-title: 18px;
$font-text: 16px;

$title-main: $font-title;
$text-secundary: $font-text; 

